<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h1>
	<s:decorate template="/simple.xhtml">
		$af:name
	</s:decorate>
</h1>

<h2>
<s:decorate template="/simple.xhtml">
	$af:brand
</s:decorate>
</h2>

<p>
$af:description
</p>

<h:graphicImage value="/img/commercial.jpg" alt="comercial"/>

<table>
<thead>
<tr>
	<th>#{messages.param}</th>
	<th>#{messages.value}</th>
</tr>
</thead>
<tbody>
<af:iteration-part>
	<tr>
		<s:decorate template="/table.xhtml">
			$af:next
		</s:decorate>
	</tr>
</af:iteration-part>
</tbody>
</table>
