<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:a4j="http://richfaces.org/a4j"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:rich="http://richfaces.org/rich"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders DropBox Text and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">
	<ui:define name="edit">
		<rich:panel
				title="Drop box"
				styleClass="dropBox"
				style="#{style}; width:#{empty width ? '33px' : width};float:left;"
				id="#{id}DropBox">
			<f:facet name="header">#{empty boxTitle ? 'Drop' : boxTitle}</f:facet>
			<rich:dropSupport acceptedTypes="#{typeDrop}"
							  reRender="#{id}Div,#{reRender}"
							  id="#{id}DropSupport"
							  immediate="true"
							  status="#{id}dropStatus"
							  dropListener="#{manager[dropListener]}"/>
			<ui:insert name="logo">
				<h:graphicImage value="/img/icons/lock#{empty displayValue ? '' : '_open'}.png"/>
			</ui:insert>
			<a4j:region id="#{id}dropRegion">
				<a4j:status id="#{id}dropStatus">
					<f:facet name="start">
						<h:graphicImage value="/img/loading2.gif"/>
					</f:facet>
				</a4j:status>
			</a4j:region>

		</rich:panel>
		<s:div id="#{id}Div"
			   style="float:left;"
			   styleClass="dragLine" rendered="#{empty simpleBox ? 'true' : not simpleBox}">
			<util:outputText label="#{label}"
							 forceRequired="#{required}"
							 value="#{displayValue}"
							 id="#{id}"/>
		</s:div>

	</ui:define>

	<ui:define name="view">
		<util:outputText value="#{displayValue}" layout="#{layout}" id="#{id}View"/>
	</ui:define>
</ui:composition>
</body>
</html>
