<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:rich="http://richfaces.org/rich"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">

</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">
		<s:decorate id="#{id}Decoration"
					styleClass="extendedStatus"

					template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>


			<h:inputText
					style="text-decoration:none; background:#F7FbFF;"
					onfocus="this.style.background='yellow';this.style.textDecoration='blink';"
					onkeyup="this.style.background='yellow';this.style.textDecoration='blink';"
					onblur="validateInputText(this,#{empty required ? 'false' : required},#{empty minlength ? '0' : minlength}, #{empty maxlength ? '255' : maxlength}, #{empty email ? 'false' : email}, #{empty pattern ? '\'\'' : pattern}, '#{text['client.validator.text']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');#{onblur}"
					rendered="#{empty rendered ? 'true' : rendered}"
					required="#{empty required ? 'false' : required}"
					id="#{id}"
					maxlength="#{empty maxlength ? '255' : maxlength}"
					size="#{empty size ? '15' : size}"
					title="#{empty title ? label : title}"
					value="#{value}"/>

			<h:graphicImage value="/img/icons/arrow.png"
							id="#{id}Arrow"
							onclick="document.getElementById(this.id.substring(0, this.id.length-29)+'Box#{id}').component.callSuggestion(true)"
							alt="suggest"/>
			<!-- TODO :reservationsForm:reservations:0:suggestStatusBoxsuggestStatus
					   reservationsForm:reservations:0:suggestStatusDecoration:suggestStatusArrow

				 document.getElementById('form:suggestion').component.callSuggestion(true)
									  onclick="#{rich:component('suggestionStateBox#{id}')}.callSuggestion(true)"
			 -->
			<util:quickStatus id="#{id}lookupState"/>
		</s:decorate>

		<rich:suggestionbox id="suggestStatusBox#{id}"
							for="#{id}"
							tokens=""
							suggestionAction="#{suggestState[type]}"

							var="result"
							fetchValue="#{result}"
							rows="#{suggestState.maxResults}"
							first="#{suggestState.intFirst}"
							minChars="#{suggestState.minChars}"
							border="1"
							status="#{id}lookupState"
							width="350"
							height="200"
							shadowDepth="3"
							shadowOpacity="1"
							cellpadding="1"
							requestDelay="500"
							ignoreDupResponses="true"
							nothingLabel="No suggestions extended state"
							columnClasses="center">

			<h:column>
				<h:outputText value="#{result}"/>
			</h:column>

		</rich:suggestionbox>
	</ui:define>
</ui:composition>
</body>
</html>
